body {
    font-family: Arial, sans-serif;
    width: 100%;
   
}

.container {
    border: 2px solid black;
    padding: 15px;
    width: 400px;
    text-align: left;
    background-color: white;
}

h2 {
    font-weight: bold;
}
#error {
    color: red;
    font-weight: bold;
}

#student-data {
    font-weight: bold;
}

button {
    padding: 10px;
    background-color: green;
    color: white;
    border: 2px solid black;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

button:hover {
    background-color: darkgreen;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Adds spacing between buttons */
}

button {
    flex: 1; 
}